h1{
    font-size: 65px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}
h2{
    font-size: 40px;
    color: #000000;
    margin-top: 20px;
}
h3{
    font-size: 25px;
    margin-top: 20px;
}
/* 
*This is my about me section CSS
*/
.AbtMe{ 
    font-family: "google Sans", sans-serif;
    font-size: 23px
    
}