/* 
* this is the css of the main sections of the website
*/

body{
    font-family: "Roboto","Arial",sans-serif;
    background-color: azure;
    margin: 0px;
}
header{
    text-align: center
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    text-align: center; 
    box-sizing: border-box;
    background-color: rgb(214, 236, 240);
    box-shadow: -5px -5px 10px rgb(174, 198, 212);
    border-style: solid;
    border-width: 2px;
    border-color: #f4b0b0;
    border-radius: 50px;
    border-bottom: rgb(214, 236, 240);
}
/* 
* THIs is the css of the headings of the website
*/
h1{
    font-size: 65px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 3px 4px #e99898;

}
h2{
    font-size: 40px;
    color: #000000;
    margin-top: 20px;
}
h3{
    font-size: 25px;
    margin-top: 20px;
}
/* 
*This is my about me section CSS
*/
#PFP{
    width: 350px;
    box-shadow: 5px 8px 10px rgb(143, 179, 200);
    
}
.AbtMe{ 
    font-family: "google Sans", sans-serif;
    font-size: 25px;
    text-align: justify;
    margin: auto;
}
#abt-meBox{
    width: 70%;
    height: 100%;
    background-color: rgb(218, 233, 247)  ;
    box-shadow: 5px 5px 10px rgb(156, 196, 219);
    border-radius: 20px;
    
}
#proj-fin{
    font-size: 22px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
#contact{
    
    width: 100%;
    border-collapse: collapse;
}
#feedback-button{
    text-align: center;
    width: 100%;
    font-size: 22px;
    border-radius: 10px;
    border-color: hwb(180 85% 0%);
    margin-bottom: 40px;
}